[defaults]

# Chick-Fil-A would like a word...
nocows = True

# Installs collections into [current dir]/ansible_collections/namespace/collection_name
collections_path = ./

# Installs roles into [current dir]/roles/namespace.rolename
roles_path = ./galaxy_roles:./roles

# Ignores host key checking
host_key_checking = false

# Always asks for Vault pass
ask_vault_pass = false

interpreter_python = auto_silent
[ssh_connection]
# Use scp instead of complaining about sftp
scp_if_ssh=True
